SYSROOT/
X/
*.iso
.cproject
.buildconfig
.project
.settings/
.vscode/
logs/*
config.status
CONFIG.mk
.*project*
*.svg
docs/**/*.map
docs/**/*.md5
docs/**/*.js
docs/**/*.html
docs/**/*.css
docs/**/*.png
BQos-iso
docs/man/*
docs/latex/*